<h1>Name: </h1>
<%= 'Mike Wang' %>
<br/>
<h1>Picture: </h1>
<%=image_tag "MikeWang.jpeg"  %>
<br/>
<h1>From: </h1>
<p class = "from">  San Ramon </p>
<br />
<h1>Year: </h1>
<%= 'Sophomore' %>
<br />
<h1>Fun Fact:</h1>
<p class = "fact">  I love tennis </p>
<br />
<h1>Excited About:</h1>
<p class = "excited"> Making websites!!!! </p>
